<!doctype html>
<html>

<head>
    <title>Stay With You</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome"/>
    <style>
        body {
            /*padding-top:80px; */
            word-wrap:break-word; }
    </style>

</head>

<body>
<h3><%= user.local.email %>  </h3>

<h5>Moments</h5>

<div class="container">
    <!-- local info -->
    <div class="col-sm-6">
        <link class="well">
        <% if (moments.length == 0) { %>
        You haven't posted any moments yet. <p/><p/>
        Click <a href="/moment">here</a> to share your
        current moment with your friends.
        <% } %>

        <ul>
            moments: moments.length
            <% for(var i=0; i < moments.length; i++) { %>
                <li><% moments[i].content %></li>
            <% }; %>
        </ul>

    </div>

    <div class="col-sm-6">
        <% include ./form/textForm %>
    </div>

</div>

</body>

</html>