<!doctype html>
<html>

<head>
    <title>Stay With You</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome"/>
    <style>
        body {
            padding-top:80px; word-wrap:break-word; }
    </style>

</head>

<body>
<div class="container">
    <!-- local info -->
    <div class="col-sm-6">
        <div class="well">
            <h3><span class="fa fa-user"/> Local </h3>

            <p>
                <strong>id</strong>: <%=  user._id %><br>
                <strong>email</strong>: <%= user.local.email %><br>
                <strong>password</strong>: <%= user.local.password %>
            </p>

        </div>
    </div>
</div>
</body>

</html>