<!DOCTYPE html>
<html lang="en">
<head/>
<body>
    <form action="/moment" method="post">

        <div class="form-group">
            <input type="text" class="form-control" name="content"
                   placeholder="Enter your moment" />
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Post</button>
    </form>

</body>
</html>